<a href="https://colab.research.google.com/github/WhoAreYou1224/BSC_DPDM2025/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

อ่านไฟล์

In [ ]:
# อ่านไฟล์ CSV
Daily_rain_path = '/content/drive/MyDrive/Data midterm เทอม 2/Daily rain - (Statistics 2012-2024)-20260122T061601Z-3-001/Daily rain - (Statistics 2012-2024)/hii_daily_rain.csv'
df = pd.read_csv(Daily_rain_path)
display(df)

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
0,ABRT,2012-01-01 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
1,ABRT,2012-01-03 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
2,ABRT,2012-01-06 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
3,ABRT,2012-01-07 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
4,ABRT,2012-01-08 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768458,YOM016,2024-11-25 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768459,YOM016,2024-11-26 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768460,YOM016,2024-11-27 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768461,YOM016,2024-11-28 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768462,YOM016,2024-11-29 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily

In [ ]:
monthly_rain_path = '/content/drive/MyDrive/Data midterm เทอม 2/Output - (Clean monthly rain - 2025)-20260122T061603Z-3-001/Output - (Clean monthly rain - 2025)/Y_monthly_rain_HII_operation.csv'
df_monthly_rain = pd.read_csv(monthly_rain_path)
display(df_monthly_rain)

      Node   rain  month  year
0     ACRU   83.0      7  2025
1     ACRU  164.8      8  2025
2     ACRU  248.6      9  2025
3     ACRU   48.4     10  2025
4     ACRU   52.2     11  2025
5     ACRU    0.2     12  2025
6     BBHN  391.6      7  2025
7     BBHN  641.2      8  2025
8     BBHN  517.6      9  2025
9     BBHN  198.8     10  2025
10    BBHN  224.0     11  2025
11    BBHN    5.8     12  2025
12    BBUA  135.6      7  2025
13    BBUA   58.0      8  2025
14    BBUA   14.8      9  2025
15    BBUA   71.8     10  2025
16  YOM012  100.6     11  2025
17  YOM012    8.0     12  2025

In [ ]:
# อ่านไฟล์ CSV
stations_path = '/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv'
df_stations = pd.read_csv(stations_path)
display(df_stations)

       Node        Lat        Long
0      ACRU  15.788054  104.642235
1      BBHN   9.536913   98.579490
2      BBUA  17.372976  103.984436
3      BCNG  17.386840  103.290870
4      BDAR  14.587073  102.495190
..      ...        ...         ...
380  YOM003  18.265924  100.177060
381  YOM008  16.708166  100.171780
382  YOM009  16.310750  100.271750
383  YOM010  18.133717  100.124596
384  YOM012  17.021260   99.819710

[385 rows x 3 columns]

In [ ]:
# อ่านไฟล์ CSV
rain_df = pd.read_csv("/content/drive/MyDrive/Data midterm เทอม 2/Output - (Clean monthly rain - 2025)-20260122T061603Z-3-001/Output - (Clean monthly rain - 2025)/Y_monthly_rain_HII_operation.csv")

In [ ]:
print(rain_df)

      Node   rain  month  year
0     ACRU   83.0      7  2025
1     ACRU  164.8      8  2025
2     ACRU  248.6      9  2025
3     ACRU   48.4     10  2025
4     ACRU   52.2     11  2025
5     ACRU    0.2     12  2025
6     BBHN  391.6      7  2025
7     BBHN  641.2      8  2025
8     BBHN  517.6      9  2025
9     BBHN  198.8     10  2025
10    BBHN  224.0     11  2025
11    BBHN    5.8     12  2025
12    BBUA  135.6      7  2025
13    BBUA   58.0      8  2025
14    BBUA   14.8      9  2025
15    BBUA   71.8     10  2025
16  YOM012  100.6     11  2025
17  YOM012    8.0     12  2025

In [ ]:
#รวมไฟล์
import pandas as pd
import glob
import os

# 1. ระบุ Path ของโฟลเดอร์ที่ถูกต้อง (เปลี่ยน 'ชื่อโฟลเดอร์ของคุณ' ให้ตรงจริง)
# แก้ไข path ให้ชี้ไปยังโฟลเดอร์ที่เก็บไฟล์ CSV โดยตรง
path = '/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)'

# 2. ดึงรายชื่อไฟล์ทั้งหมดที่ลงท้ายด้วย .csv
all_files = glob.glob(os.path.join(path, "*.csv"))

# 3. วนลูปอ่านทุกไฟล์แล้วเก็บไว้ใน List
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    # เพิ่มคอลัมน์เพื่อบอกว่ามาจากไฟล์ไหน (เผื่อไว้ตรวจสอบ)
    df['from_file'] = os.path.basename(filename)
    li.append(df)

# 4. รวมทุกไฟล์เป็น DataFrame เดียว
# ตรวจสอบก่อนว่ามีไฟล์ที่อ่านได้หรือไม่ ก่อนทำการ concat
if li:
    final_df = pd.concat(li, axis=0, ignore_index=True)
    print(f"รวมไฟล์เสร็จสิ้น! ทั้งหมด {len(all_files)} ไฟล์")
    display(final_df.head())
else:
    print(f"ไม่พบไฟล์ CSV ในโฟลเดอร์ที่ระบุ: {path}")
    print("โปรดตรวจสอบ Path หรือชื่อไฟล์ที่ถูกต้อง")

รวมไฟล์เสร็จสิ้น! ทั้งหมด 1 ไฟล์

   Node        Lat        Long                      from_file
0  ACRU  15.788054  104.642235  Stations in the model_HII.csv
1  BBHN   9.536913   98.579490  Stations in the model_HII.csv
2  BBUA  17.372976  103.984436  Stations in the model_HII.csv
3  BCNG  17.386840  103.290870  Stations in the model_HII.csv
4  BDAR  14.587073  102.495190  Stations in the model_HII.csv

In [69]:
base_path = '/content/drive/MyDrive/Data midterm เทอม 2'

# ดึง csv ทั้งหมด
files = glob.glob(base_path + '/**/*.csv', recursive=True)

# รายชื่อไฟล์ที่ไม่ต้องการ
exclude_files = {
    'Stations in the model_HII.csv',
    'Y_monthly_rain_HII_operation.csv',
    'hii_daily_rain.csv'
}

# กรองออก
files = [
    f for f in files
    if os.path.basename(f) not in exclude_files
]

print(f'เหลือไฟล์ที่ใช้จริง {len(files)} ไฟล์')
files[:5]

เหลือไฟล์ที่ใช้จริง 187 ไฟล์

['/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)/2025-09/HII_daily_rainfall_2025-09-30.csv',
 '/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)/2025-09/HII_daily_rainfall_2025-09-24.csv',
 '/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)/2025-09/HII_daily_rainfall_2025-09-16.csv',
 '/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)/2025-09/rain_hii_20250901.csv',
 '/content/drive/MyDrive/Data midterm เทอม 2/Input - (Operation Daily rain from API_ 2025)-20260122T061602Z-3-001/Input - (Operation Daily rain from API_ 2025)/2025-09/HII_daily_rainfall_2025-09-21.csv']

In [70]:
df_list = []

for file in files:
    df = pd.read_csv(file)
    df['source_file'] = file
    df_list.append(df)

all_data = pd.concat(df_list, ignore_index=True)

all_data.head()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,source_file,station_code,value
0,2025-10-01 00:00:00+07:00,2025-09-30T07:00:00+07:00,7.6,1373272.0,NaN,2025-09-30,/content/drive/MyDrive/Data midterm เทอม 2/Inp...,NaN,NaN
1,2025-10-01 00:00:00+07:00,2025-09-30T07:00:00+07:00,3.6,1116457.0,GOT001,2025-09-30,/content/drive/MyDrive/Data midterm เทอม 2/Inp...,NaN,NaN
2,2025-10-01 00:00:00+07:00,2025-09-30T07:00:00+07:00,5.4,537.0,CHR001,2025-09-30,/content/drive/MyDrive/Data midterm เทอม 2/Inp...,NaN,NaN
3,2025-10-01 00:00:00+07:00,2025-09-30T07:00:00+07:00,7.0,1197836.0,CHR007,2025-09-30,/content/drive/MyDrive/Data midterm เทอม 2/Inp...,NaN,NaN
4,2025-10-01 00:00:00+07:00,2025-09-30T07:00:00+07:00,0.0,743.0,KSKP,2025-09-30,/content/drive/MyDrive/Data midterm เทอม 2/Inp...,NaN,NaN

In [82]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180700 entries, 0 to 180699
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   rainfall_datetime       176886 non-null  object
 1   rainfall_datetime_calc  176886 non-null  object
 2   rainfall_value          176882 non-null  float64
 3   tele_station_id         173072 non-null  float64
 4   tele_station_oldcode    168021 non-null  object
 5   measure_datetime        180700 non-null  object
 6   source_file             180700 non-null  object
 7   station_code            3814 non-null    object
 8   value                   3814 non-null    float64
dtypes: float64(3), object(6)
memory usage: 12.4+ MB

In [88]:
# จำนวนสถานีก่อนกรอง
stations_before = final_df['Node'].nunique()

# กรองเฉพาะสถานีที่อยู่ใน model
final_df_filtered = final_df[
    final_df['Node'].isin(df_stations['Node'])
]

# จำนวนสถานีหลังกรอง
stations_after = final_df_filtered['Node'].nunique()

print(f"จำนวนสถานีก่อนกรอง: {stations_before} สถานี")
print(f"จำนวนสถานีหลังกรอง: {stations_after} สถานี")

# แสดงตัวอย่างข้อมูลหลังกรอง
display(final_df_filtered.head())

จำนวนสถานีก่อนกรอง: 385 สถานี
จำนวนสถานีหลังกรอง: 385 สถานี

   Node        Lat        Long                    source_file
0  ACRU  15.788054  104.642235  Stations in the model_HII.csv
1  BBHN   9.536913   98.579490  Stations in the model_HII.csv
2  BBUA  17.372976  103.984436  Stations in the model_HII.csv
3  BCNG  17.386840  103.290870  Stations in the model_HII.csv
4  BDAR  14.587073  102.495190  Stations in the model_HII.csv

In [75]:
final_df_filtered.columns

Index(['Node', 'Lat', 'Long', 'source_file'], dtype='object')

In [76]:
display(final_df_filtered.head())

   Node        Lat        Long                    source_file
0  ACRU  15.788054  104.642235  Stations in the model_HII.csv
1  BBHN   9.536913   98.579490  Stations in the model_HII.csv
2  BBUA  17.372976  103.984436  Stations in the model_HII.csv
3  BCNG  17.386840  103.290870  Stations in the model_HII.csv
4  BDAR  14.587073  102.495190  Stations in the model_HII.csv

In [77]:
expected_stations = set(df_stations['Node'])

In [78]:
actual_stations = set(final_df['Node'])

In [79]:
missing_stations = expected_stations - actual_stations

In [80]:
num_expected = len(expected_stations)
num_missing = len(missing_stations)
missing_ratio = num_missing / num_expected

print(f"จำนวนสถานีที่ควรมีทั้งหมด: {num_expected}")
print(f"จำนวนสถานีที่หายไป (record ที่ไม่มีในไฟล์): {num_missing}")
print(f"สัดส่วนข้อมูลสูญหาย: {missing_ratio:.2%}")

จำนวนสถานีที่ควรมีทั้งหมด: 385
จำนวนสถานีที่หายไป (record ที่ไม่มีในไฟล์): 0
สัดส่วนข้อมูลสูญหาย: 0.00%

In [81]:
missing_df = pd.DataFrame(
    sorted(missing_stations),
    columns=['Missing_Node']
)

display(missing_df)

Empty DataFrame
Columns: [Missing_Node]
Index: []

จากการเปรียบเทียบรายชื่อสถานีที่ควรมีตามไฟล์
Stations in the model_Hill.csv กับข้อมูลที่ปรากฏจริง
พบว่าทุกสถานีมีข้อมูลครบถ้วน จึงไม่พบ record ที่หายไป

In [95]:
import pandas as pd

# นับจำนวน record ต่อสถานี
station_count = (
    all_data
    .groupby('Node') # Changed 'station_code' to 'Node'
    .size()
    .reset_index(name='actual_records')
)

# expected record = จำนวน record สูงสุดที่พบ
expected_records = station_count['actual_records'].max()

# คำนวณ missing และสัดส่วน
station_count['missing_records'] = expected_records - station_count['actual_records']
station_count['missing_ratio'] = station_count['missing_records'] / expected_records

# แยกสถานีที่ต้องคัดออก (>= 20%)
removed_stations = station_count[station_count['missing_ratio'] >= 0.20]

# สถานีที่เหลือ
remaining_stations = station_count[station_count['missing_ratio'] < 0.20]

# ===== แสดงผล =====
print("📌 สถานีที่ถูกคัดออก (ข้อมูลสูญหาย ≥ 20%)")
display(
    removed_stations[['Node', 'actual_records', 'missing_records', 'missing_ratio']] # Changed 'station_code' to 'Node'
)

print(f"❌ จำนวนสถานีที่ถูกคัดออก: {removed_stations.shape[0]}")
print(f"✅ จำนวนสถานีที่เหลือ: {remaining_stations.shape[0]}")

📌 สถานีที่ถูกคัดออก (ข้อมูลสูญหาย ≥ 20%)

Empty DataFrame
Columns: [Node, actual_records, missing_records, missing_ratio]
Index: []

❌ จำนวนสถานีที่ถูกคัดออก: 0
✅ จำนวนสถานีที่เหลือ: 385

ถ้ามีข้อมูลหายจึงเติม median

In [97]:
valid_stations = remaining_stations['Node']

clean_data = all_data[
    all_data['Node'].isin(valid_stations)
].copy()

In [101]:
import pandas as pd

# Define the station identifier column to use consistently
station_identifier_col = 'tele_station_oldcode'

# แปลง datetime และสร้าง Day of Year
all_data['rainfall_datetime_calc'] = pd.to_datetime(
    all_data['rainfall_datetime_calc'], errors='coerce'
)
all_data['doy'] = all_data['rainfall_datetime_calc'].dt.dayofyear

# ใช้เฉพาะสถานีที่ผ่านเกณฑ์
valid_stations = remaining_stations[station_identifier_col]
data_valid = all_data[all_data[station_identifier_col].isin(valid_stations)].copy()

# สร้างช่วงวันที่ที่ควรมีข้อมูล
full_dates = pd.date_range(
    start=data_valid['rainfall_datetime_calc'].min(),
    end=data_valid['rainfall_datetime_calc'].max(),
    freq='D'
)

# expected records (station × date)
expected = pd.MultiIndex.from_product(
    [valid_stations, full_dates],
    names=[station_identifier_col, 'rainfall_datetime_calc']
).to_frame(index=False)

# รวมกับข้อมูลจริง (record ที่หายจะเป็น NaN)
merged = expected.merge(
    data_valid,
    on=[station_identifier_col, 'rainfall_datetime_calc'],
    how='left'
)

# สร้าง DOY สำหรับ record ที่เติมเข้ามา
merged['doy'] = merged['rainfall_datetime_calc'].dt.dayofyear

# คำนวณ median ตาม (station, DOY) จาก historical
median_table = (
    data_valid
    .groupby([station_identifier_col, 'doy'])['rainfall_value']
    .median()
    .reset_index()
)

# เติมค่าที่หายด้วย median
merged = merged.merge(
    median_table,
    on=[station_identifier_col, 'doy'],
    how='left',
    suffixes=('', '_median')
)

merged['rainfall_value'] = merged['rainfall_value'].fillna(
    merged['rainfall_value_median']
)

merged.drop(columns='rainfall_value_median', inplace=True)

# ===== ตรวจสอบว่าไม่มี record ไหนหายอีก =====
records_per_station = merged.groupby(station_identifier_col).size()
missing_after = merged['rainfall_value'].isna().sum()

print("จำนวน record ต่อสถานี:")
display(records_per_station)

print(f"จำนวน record ที่ยังหายหลังเติมข้อมูล: {missing_after}")

จำนวน record ต่อสถานี:

tele_station_oldcode
ACRU      186
AIT001    185
AIT002    185
AIT005    185
AIT008    185
         ...
YOM012    185
YOM013    189
YOM014    185
YOM015    185
YOM016    185
Length: 828, dtype: int64

จำนวน record ที่ยังหายหลังเติมข้อมูล: 3820

ใช้ median แทน mean เพราะลักษณะข้อมูลปริมาณฝนมี การกระจายไม่สมมาตรและมีค่าผิดปกติ (outliers) สูง เช่น วันฝนตกหนักมากผิดปกติ หากใช้ mean ค่าที่ได้จะถูกดึงสูงหรือต่ำเกินจริง ทำให้ค่าที่นำไปเติมบิดเบือนลักษณะจริงของข้อมูล ในขณะที่ median มีความทนทานต่อ outliers มากกว่า จึงสะท้อนค่ากลางของปริมาณฝนใน Day of Year นั้นได้เหมาะสมและเสถียรกว่าสำหรับการเติมข้อมูลจาก historical แยกตามสถานี

คำนวนปริมาณน้ำฝนรายเดือน จัดรูปแบบให้ตรงกับ output_monthly_rainfall.csv

In [103]:
# Convert 'rainfall_datetime_calc' to datetime objects
#ต้องใช้ 'rainfall_datetime_calc' เพราะจะได้คำนวณวันเวลาได้ถูกต้อง
all_data['rainfall_datetime_calc'] = pd.to_datetime(all_data['rainfall_datetime_calc'])

# Extract year and month
all_data['year'] = all_data['rainfall_datetime_calc'].dt.year
all_data['month'] = all_data['rainfall_datetime_calc'].dt.month

# Group by station, year, and month, then sum 'rainfall_value'
monthly_rain = all_data.groupby(['tele_station_oldcode', 'year', 'month'])['rainfall_value'].sum().reset_index()

# Rename columns to match Y_monthly_rain_HII_operation
monthly_rain = monthly_rain.rename(columns={
    'tele_station_oldcode': 'Node',
    'rainfall_value': 'rain'
})

# Reorder columns to match Y_monthly_rain_HII_operation
monthly_rain = monthly_rain[['Node', 'rain', 'month', 'year']]

print("Monthly rainfall data formatted as requested:")
print(monthly_rain.head())
print("\nInfo of the new DataFrame:")
monthly_rain.info()

Monthly rainfall data formatted as requested:
   Node   rain  month    year
0  ABRT   18.0   10.0  2025.0
1  ABRT   21.0   11.0  2025.0
2  ABRT    0.0   12.0  2025.0
3  ACRU   83.0    7.0  2025.0
4  ACRU  164.6    8.0  2025.0

Info of the new DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6158 entries, 0 to 6157
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Node    6158 non-null   object
 1   rain    6158 non-null   float64
 2   month   6158 non-null   float64
 3   year    6158 non-null   float64
dtypes: float64(3), object(1)
memory usage: 192.6+ KB

In [113]:
monthly_rain.head()

   Node   rain  month    year
0  ABRT   18.0   10.0  2025.0
1  ABRT   21.0   11.0  2025.0
2  ABRT    0.0   12.0  2025.0
3  ACRU   83.0    7.0  2025.0
4  ACRU  164.6    8.0  2025.0

ลิงค์ google drive

https://drive.google.com/drive/folders/1kg6QAngkkp3uXPySv-TqF0cGI8Gm_cmT?usp=drive_link